create table if not exists food_logs (id uuid default gen_random_uuid() primary key, user_id uuid references profiles(id) not null, name text not null, calories int not null, protein float default 0, carbs float default 0, fat float default 0, meal_type text, created_at timestamptz default now()); alter table food_logs disable row level security;
